@font-face {
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: 500;
    src: url(../font/HelveticaNeue-Medium-11.ttf) format('truetype');
}

@font-face {
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: bold;
    src: url(../font/HelveticaNeue-Bold-02.ttf) format('truetype');
}

@font-face {
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: normal;
    src: url(../font/HelveticaNeue-01.ttf) format('truetype');
}

@font-face {
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: 300;
    src: url(../font/HelveticaNeue-Light-08.ttf) format('truetype');
}

.info-page header {
    display: flex;
    justify-content: center;
}

.info-page .header-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin-top: 4rem;
}

.info-page .header-list li {
    margin: 2rem;
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-page .header-list li p {
    margin-top: 1rem;
    color: #232323;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.2rem;
    margin-bottom: 1rem;
}

.info-page .header-list li .line {
    width: 10rem;
    height: 2px;
    background-color: #000000;
}

.info-page .header-list li .large-line {
    width: 13rem;
}

.info-page .header-list li .laptop-line {
    display: none;
}

.info-page main {
    width: 100%;
    min-height: 60vh;
    display: flex;
    justify-content: center;
}

.info-page .main-section {
    width: 70%;
    min-height: 95vh;
    background-color: #FFFFFF;
    border-radius: 1rem;
}

.info-page .employee-info {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.info-page .employee-info form {
    width: 70%;
    background-color: #FFFFFF;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
}

.info-page .employee-info form ul {
    list-style: none;
}

.info-page .employee-info .form-control {
    display: flex;
    margin-top: 1rem;
    width: 100%;
}

.info-page .employee-info .form-control li {
    margin-left: 2rem;
    width: 100%;
}

.info-page .employee-info .inline-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 93%;
}

.info-page .employee-info .inline-form li p {
    font-weight: 500;
    font-size: 1.1rem;
    color: #000000;
}

.info-page .employee-info .inline-form li .validation-error {
    font-weight: 300;
    color: #2E2E2E;
    font-size: 14px;
}


.info-page .employee-info .inline-form input {
    font: 15px 'Montserrat', sans-serif;
    padding-top: 0;
    padding-left: 1rem;
    margin: 10px 0;
    margin-top: 10px;
    border: 2px solid #8AC0E2;
    border-radius: 8px;
    width: 99.4%;
    height: 3.7rem;
    display: block;
    box-sizing: border-box;
}

select:focus,
select:hover {
    outline: none;
}


.info-page .employee-info .form-control .select-box-list {
    width: 93%;
    box-sizing: border-box;
}

.info-page .employee-info .form-control .select-box-container {
    width: 100%;
}

.info-page .employee-info .form-control .select-box {
    margin-top: 3rem;
    display: flex;
    padding: 0;
    align-items: center;
    height: 3.7rem;
    border-radius: 8px;
    box-sizing: border-box;
    width: 100%;
    background: #EBEBEB url(../icon/arrow.png);
    background-size: 1rem;
    background-repeat: no-repeat;
    background-position: 98%;
    cursor: pointer;
}

.info-page .employee-info .form-control select {
    padding-left: 3rem;
    color: #080808;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    margin: 0;
    min-width: 100%;
    height: 100%;
    cursor: pointer;
    padding-left: 2rem;
    border-radius: 8px;
    background: none;
    z-index: 1;
    overflow: hidden;
    box-sizing: border-box;
}

.info-page .employee-info .form-control .select-box p {
    font-family: 'HelveticaNeue';
    font-weight: 500;
    font-size: 1.12rem;
    color: #000000;
    padding-left: 2rem;
}

.info-page .employee-info .custom-option-container {
    width: 45.5% !important;
    font-family: 'HelveticaNeue';
    background-color: #FFFFFF;
    min-height: 2rem;
    position: absolute;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0px 5px 30px 1px #e2e5e9;
    display: none;
}

.info-page .employee-info .custom-option-container:focus {
    outline: none;
}

.info-page .employee-info .custom-option-container:hover {
    outline: none;
}

.info-page .employee-info .custom-option {
    font-family: 'HelveticaNeue';
    font-weight: normal;
    font-size: 1.1rem;
    color: #000000;
    padding: 0.5rem;
    padding-left: 2rem;
}

.info-page .employee-info .custom-option:hover {
    background: #E7F0F8;
}

.info-page .employee-info .team-custom-on-blur-top {
    width: 100%;
    height: 47%;
    position: absolute;
    right: 0%;
    top: 0%;
    background-color: black;
    display: none;
}

.info-page .employee-info .team-custom-on-blur-bottom {
    width: 100%;
    height: 47%;
    position: absolute;
    right: 0%;
    bottom: 0%;
    background-color: black;
    display: none;
}

.info-page .employee-info .team-custom-on-blur-left {
    width: 24.3%;
    height: 60%;
    position: absolute;
    right: 0%;
    bottom: 0%;
    background-color: black;
    display: none;
}

.info-page .employee-info .team-custom-on-blur-right {
    width: 30%;
    height: 60%;
    position: absolute;
    left: 0%;
    bottom: 0%;
    background-color: black;
    display: none;
}

.info-page .employee-info .input-control {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2rem;
    margin-top: 2rem;
    width: 100%;
    padding-top: 2rem;
}


.info-page .employee-info .input-control ul {
    width: 100%;
}

.info-page .employee-info .input-control li {
    width: 93%;
}


.info-page .employee-info .input-control li p {
    font-weight: 500;
    font-size: 1.1rem;
    color: #000000;
}

.info-page .employee-info .input-control li .validation-error {
    font-weight: 300;
    color: #2E2E2E;
    font-size: 14px;
}

.info-page .employee-info .input-control input {
    font: 15px 'Montserrat', sans-serif;
    padding-top: 0;
    padding-left: 1rem;
    margin: 10px 0;
    margin-top: 10px;
    border: 2px solid #8AC0E2;
    border-radius: 8px;
    width: 25rem;
    height: 3.5rem;
    display: block;
    box-sizing: border-box;
    width: 100%;
}

.info-page .employee-info .next-button-container {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: flex-end;
}

.info-page .employee-info .next-button-container .next-button-background {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #62A1EB;
    height: 3.5rem;
    width: 18%;
    border-radius: 8px;
    margin-top: 4rem;
    cursor: pointer;
    margin-bottom: 4rem;
}


.info-page .employee-info .next-button-container p {
    color: #FFFFFF;
    font-size: 1.1rem;
    cursor: pointer;
}

.info-page footer {
    margin-top: 4rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}