@font-face {
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: 500;
    src: url(../font/HelveticaNeue-Medium-11.ttf) format('truetype');
}

@font-face {
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: bold;
    src: url(../font/HelveticaNeue-Bold-02.ttf) format('truetype');
}

@font-face {
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: normal;
    src: url(../font/HelveticaNeue-01.ttf) format('truetype');
}

@font-face {
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: 300;
    src: url(../font/HelveticaNeue-Light-08.ttf) format('truetype');
}

.info-page header {
    display: flex;
    justify-content: center;
}

.info-page .back-arrow-container-employee {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 2rem;
}

.info-page .back-arrow-container-employee img:hover {
    box-shadow: 5px 5px 30px 1px #abb0b6;
    border-radius: 2rem;
}

.info-page .back-arrow-container-employee img:focus {
    box-shadow: 5px 5px 30px 1px #92979c;
    border-radius: 2rem;
}

.info-page .back-arrow-container-employee img:active {
    box-shadow: 5px 5px 30px 1px #92979c;
    ;
    border-radius: 2rem;
}

.info-page .back-arrow-container-laptop {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 2rem;
    display: none;
}

.info-page .back-arrow-container-laptop img:hover {
    box-shadow: 5px 5px 30px 1px #abb0b6;
    border-radius: 2rem;
}

.info-page .back-arrow-container-laptop img:focus {
    box-shadow: 5px 5px 30px 1px #92979c;
    border-radius: 2rem;
}

.info-page .back-arrow-container-laptop img:active {
    box-shadow: 5px 5px 30px 1px #92979c;
    border-radius: 2rem;
}

.info-page .back-arrow-icon {
    cursor: pointer;
}

.info-page .header-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin-top: 4rem;
}

.info-page .header-list li {
    margin: 2rem;
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.info-page .header-list li p {
    font-family: 'HelveticaNeue';
    font-weight: bold;
    margin-top: 1rem;
    color: #232323;
    font-size: 1.3rem;
    line-height: 1.2rem;
    margin-bottom: 1rem;
}


.info-page .header-list li .line {
    width: 12rem;
    height: 2px;
    background-color: #000000;
}

.info-page .header-list li p:hover {
    text-shadow: #abb0b6 1px 2px 10px;
}


.info-page .header-list li .large-line {
    width: 16.5rem;
}

.info-page .header-list li .laptop-line {
    display: none;
}

.info-page main {
    width: 100%;
    min-height: 60vh;
    display: flex;
    justify-content: center;
}

.info-page .main-section {
    width: 70%;
    min-height: 95vh;
    background-color: #FFFFFF;
    border-radius: 1rem;
}

.info-page .employee-info {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.info-page .employee-info form {
    width: 70%;
    background-color: #FFFFFF;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
}

.info-page .employee-info form ul {
    list-style: none;
}

.info-page .employee-info .form-control {
    display: flex;
    margin-top: 1rem;
    width: 100%;
}

.info-page .employee-info .form-control li {
    margin-left: 2rem;
    width: 100%;
}

.info-page .employee-info .inline-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 93%;
}

.info-page .label-array {
    font-family: 'HelveticaNeue';
    font-weight: 500;
    color: #000000;
    font-size: 1.1rem;
    cursor: pointer;
}

.info-page .validation-error {
    font-family: 'HelveticaNeue';
    font-weight: 300;
    color: #2E2E2E;
    font-size: 0.89rem;
}


.info-page .employee-info .inline-form input {
    font-family: 'HelveticaNeue' !important;
    font-weight: normal !important;
    color: #000000 !important;
    font-size: 1rem !important;
    padding-top: 0;
    padding-left: 1rem;
    margin: 10px 0;
    margin-top: 10px;
    border: 2px solid #8AC0E2;
    border-radius: 8px;
    width: 99.4%;
    height: 3.7rem;
    display: block;
    box-sizing: border-box;
}

input {
    font-family: 'HelveticaNeue' !important;
    font-weight: normal !important;
    color: #000000 !important;
    font-size: 1rem !important;
}

select:focus,
select:hover {
    outline: none;
}

input:focus,
input:hover {
    outline: none !important;
}

input:focus {
    background-color: rgba(43, 75, 242, 0.06) !important;
    border-color: #6499FF !important;
}

input::placeholder {
    font-family: 'HelveticaNeue' !important;
    font-weight: normal !important;
    color: rgba(0, 0, 0, 0.6) !important;
    font-size: 1rem !important;
}

.info-page .employee-info .error {
    border-color: #E52F2F !important;

}

.info-page .employee-info .form-control .select-box-list {
    width: 93%;
    box-sizing: border-box;
}

.info-page .employee-info .form-control .select-box-container {
    width: 100%;
}

.info-page .employee-info .form-control .select-box {
    margin-top: 3rem;
    display: flex;
    padding: 0;
    align-items: center;
    height: 3.7rem;
    border-radius: 8px;
    width: 100%;
    background: #EBEBEB url(../icon/arrow.png);
    background-size: 1rem;
    background-repeat: no-repeat;
    background-position: 98%;
    cursor: pointer;
    z-index: 99;
}

.info-page .employee-info .form-control .select-box:hover {
    background-color: #dfdfdf !important;
}

.info-page .employee-info .form-control .select-box:focus {
    background-color: #EBEBEB !important;
}

.info-page .employee-info .form-control .select-box:active {
    background-color: #EBEBEB !important;
}

.info-page .employee-info .form-control .select-box-error {
    border: 2px solid #E52F2F !important;
}

.info-page .employee-info .form-control .position-select-box-disabled .disabled-name {
    color: #929191 !important;
}


.info-page .employee-info .form-control .select-box p {
    font-family: 'HelveticaNeue';
    font-weight: 500;
    font-size: 1.12rem;
    color: #000000;
    padding-left: 2rem;
}

.info-page .employee-info .custom-option-container {
    width: 45.5% !important;
    font-family: 'HelveticaNeue';
    background-color: #FFFFFF;
    min-height: 2rem;
    position: absolute;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0px 5px 30px 1px #e2e5e9;
    display: none;
}

.info-page .employee-info .custom-option-container:focus {
    outline: none;
}

.info-page .employee-info .custom-option-container:hover {
    outline: none;
}

.info-page .employee-info .custom-option {
    font-family: 'HelveticaNeue';
    font-weight: normal;
    font-size: 1.1rem;
    color: #000000;
    padding: 0.5rem;
    padding-left: 2rem;
    cursor: pointer;
}

.info-page .employee-info .custom-option:hover {
    background: #E7F0F8;
}

.info-page .employee-info .team-custom-on-blur {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0%;
    top: 0%;
    background-color: transparent;
    display: none;
}


.info-page .employee-info .position-custom-on-blur {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0%;
    top: 0%;
    background-color: transparent;
    display: none;
}


.info-page .employee-info .input-control {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2rem;
    margin-top: 2rem;
    width: 100%;
    padding-top: 2rem;
}


.info-page .employee-info .input-control ul {
    width: 100%;
}

.info-page .employee-info .input-control li {
    width: 93%;
}


.info-page .employee-info .input-control input {
    font-family: 'HelveticaNeue' !important;
    font-weight: normal !important;
    color: #000000 !important;
    font-size: 1rem !important;
    padding-top: 0;
    padding-left: 1rem;
    margin: 10px 0;
    margin-top: 10px;
    border: 2px solid #8AC0E2;
    border-radius: 8px;
    width: 25rem;
    height: 3.5rem;
    display: block;
    box-sizing: border-box;
    width: 100%;
}

.info-page .employee-info .next-button-container {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: flex-end;
}


.info-page .employee-info .next-button-container .next-button-background {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #62A1EB;
    height: 3.5rem;
    width: 18%;
    border-radius: 8px;
    margin-top: 4rem;
    cursor: pointer;
    margin-bottom: 4rem;
}

.info-page .employee-info .next-button-background:hover {
    background-color: #317AD0 !important;
}

.info-page .employee-info .next-button-background:focus {
    background-color: #1A5DAB !important;
}

.info-page .employee-info .next-button-background:active {
    background-color: #1A5DAB !important;
}


.info-page .employee-info .next-button-container p {
    color: #FFFFFF;
    font-size: 1.1rem;
    cursor: pointer;
}

.info-page footer {
    margin-top: 4rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}