@font-face {
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: 500;
    src: url(../font/HelveticaNeue-Medium-11.ttf) format('truetype');
}

@font-face {
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: bold;
    src: url(../font/HelveticaNeue-Bold-02.ttf) format('truetype');
}

@font-face {
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: normal;
    src: url(../font/HelveticaNeue-01.ttf) format('truetype');
}

@font-face {
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: 300;
    src: url(../font/HelveticaNeue-Light-08.ttf) format('truetype');
}

.entries-list {
    background-color: #FFFFFF !important;
}

.entries-list header {
    width: 100%;
    height: 10rem;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.entries-list .back-arrow-container {
    height: 30%;
    width: 5%;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
}

.entries-list .back-arrow-container img {
    cursor: pointer;
}

.entries-list .back-arrow-container img:hover {
    box-shadow: 5px 5px 30px 1px #abb0b6;
    border-radius: 2rem;
}

.entries-list .back-arrow-container img:focus {
    box-shadow: 5px 5px 30px 1px #92979c;
    border-radius: 2rem;
}

.entries-list .back-arrow-container img:active {
    box-shadow: 5px 5px 30px 1px #92979c;
    ;
    border-radius: 2rem;
}

.entries-list .back-arrow {
    width: 9%;
    height: 100%;
    cursor: pointer;
}

.entries-list .title-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.entries-list .empty-div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.entries-list main {
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.entries-list .main-section {
    width: 65%;
    min-height: 30rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem 4rem;
}

.entries-list .data-info-container {
    width: 100%;
    height: 14rem;
    display: flex;
    background: #EAFAFF;
    border: 1px solid #AED1EA;
    border-radius: 20px;
    box-sizing: border-box;
}

.entries-list .data-info-container:hover {
    box-shadow: 5px 5px 30px 1px #d1e1ee;
}

.entries-list .data-info-container img {
    width: 50% !important;
    height: 85% !important;
    margin: auto;
    margin-left: 1rem;
    border-radius: 10px;
}

.entries-list .data-info-container ul {
    padding-left: 2rem;
    list-style: none;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
    overflow: hidden;
}

.entries-list .data-info-container li {
    width: 80%;
    height: 15% !important;
    margin: 0.3rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.entries-list .data-info-container .name-container {
    margin-top: 0 !important;
    box-sizing: border-box;
}

.entries-list .data-info-container .link-container {
    padding-top: 2rem !important;
}

.entries-list .data-info-container .name {
    font-family: 'HelveticaNeue';
    font-weight: 500;
    font-size: 1.2rem;
    color: #2E2E2E;
}

.entries-list .data-info-container .laptop-name {
    font-family: 'HelveticaNeue';
    font-weight: normal;
    font-size: 1.2rem;
    color: #2E2E2E;
}

.entries-list .data-info-container a {
    font-family: 'HelveticaNeue';
    font-weight: normal;
    font-size: 1.1rem;
    color: #4386A9;
    text-decoration: underline;
    cursor: pointer;
}

.entries-list .data-info-container a:hover {
    color: #317AD0;
}

.entries-list .data-info-container a:focus {
    color: #1A5DAB;
}

.entries-list .data-info-container a:active {
    color: #1A5DAB;
}

.entries-list footer {
    margin-top: 10rem;
}

@media (max-width: 768px) {
    main {
        margin-top: 0 !important;
        overflow: hidden;
    }

    header {
        height: 6rem !important;
    }

    .entries-list .back-arrow-container img {
        content: url(../icon/small-arrow-icon.png);
    }

    .entries-list .title-container {
        margin-bottom: 1rem;
    }

    .entries-list .title-container img {
        content: url(../icon/small-entries-lis.png);
    }

    .entries-list .main-section {
        width: 95%;
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .entries-list .data-info-container {
        height: 8.5rem;
    }

    .entries-list .data-info-container img {
        width: 50% !important;
        height: 85% !important;
        margin: auto;
        margin-left: 1rem;
        border-radius: 10px;
    }

    .entries-list .data-info-container ul {
        padding-left: 1rem;
    }

    .entries-list .data-info-container ul p {
        width: 97% !important;
        font-size: 1rem;
    }

    .entries-list .data-info-container .name-container {
        padding-bottom: 0.1rem !important;
        width: 97%;
    }

    .entries-list .data-info-container .link-container {
        padding-top: 1rem !important;
    }

    .entries-list .data-info-container .name-container p {
        font-size: 14px !important;
    }

    .entries-list .data-info-container .link-container a {
        font-size: 14px !important;
    }
}