@font-face {
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: 500;
    src: url(../font/HelveticaNeue-Medium-11.ttf) format('truetype');
}

@font-face {
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: bold;
    src: url(../font/HelveticaNeue-Bold-02.ttf) format('truetype');
}

@font-face {
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: normal;
    src: url(../font/HelveticaNeue-01.ttf) format('truetype');
}

@font-face {
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: 300;
    src: url(../font/HelveticaNeue-Light-08.ttf) format('truetype');
}

.info-page .laptop-info {
    width: 100%;
    min-height: 100vh;
    display: none;
    justify-content: center;
}

.info-page .laptop-info form {
    width: 70%;
    background-color: #FFFFFF;
    margin-top: 5rem;
    display: flex;
    flex-direction: column
}

.info-page .laptop-info .img-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 93%;
    min-height: 26.5rem;
    border-radius: 1.1rem;
    margin-left: 4rem;
    cursor: pointer;
    background: url(../img/upload-file-borer.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-bottom: 4rem;
    cursor: pointer;
}

.info-page .laptop-info .img-form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.info-page .laptop-info .add-img-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-page .laptop-info .add-img-container .choose-img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-page .laptop-info .add-img-container p {
    color: #4386A9;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.info-page .laptop-info .file-upload-container {
    margin-top: 4rem;
    display: flex;
    width: 100%;
    height: 14%;
    align-items: center;
    justify-content: center;
}

.info-page .laptop-info .label-container {
    display: flex;
    width: 27%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #62A1EB;
    border-radius: 8px;
    cursor: pointer;
}

.info-page .laptop-info .label-upload-img {
    margin: 0;
    color: #FFFFFF;
    font-size: 1.2rem;
    cursor: pointer;
}


.info-page .laptop-info .img-form-container .upload-img {
    width: 54rem;
    height: 43%;
    position: absolute;
    left: 29%;
    top: 28%;
    background-color: white;
    opacity: 0;
    cursor: pointer;
}

.info-page .laptop-info form ul {
    list-style: none;
}

.info-page .laptop-info .form-control {
    display: flex;
    margin-top: 1rem;
    width: 100%;
}

.info-page .laptop-info .form-control li {
    margin-left: 2rem;
}

.info-page .laptop-info .inline-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info-page .laptop-info .inline-form li p {
    font-weight: 500;
    font-size: 1.1rem;
    color: #000000;
}

.info-page .laptop-info .inline-form li .validation-error {
    font-weight: 300;
    color: #2E2E2E;
    font-size: 14px;
}


.info-page .laptop-info .inline-form input {
    font: 15px 'Montserrat', sans-serif;
    padding-top: 0;
    padding-left: 1rem;
    margin: 10px 0;
    margin-top: 10px;
    border: 2px solid #8AC0E2;
    border-radius: 8px;
    width: 25rem;
    height: 3.5rem;
    display: block;
    box-sizing: border-box;

}

.info-page .laptop-info .form-control .select-box-list {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.info-page .laptop-info .form-control .select-box-container {
    width: 25rem;
}

.info-page .laptop-info .form-control .select-box {
    display: flex;
    padding: 0;
    align-items: center;
    height: 3.5rem;
    border-radius: 8px;
    box-sizing: border-box;
    width: 100%;
    background: #EBEBEB url(../icon/arrow.png);
    background-size: 1rem;
    background-repeat: no-repeat;
    background-position: 95%;
    cursor: pointer;
}

.info-page .laptop-info .form-control select {
    font: 18px 'Montserrat', sans-serif;
    padding-left: 3rem;
    color: #080808;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    margin: 0;
    min-width: 100%;
    height: 100%;
    cursor: pointer;
    padding-left: 2rem;
    border-radius: 8px;
    background: none;
    z-index: 1;
    overflow: hidden;
    box-sizing: border-box;
}

.info-page .laptop-info .line {
    background-color: #C7C7C7;
    height: 1px;
    width: 93%;
    margin-left: 4rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.info-page .laptop-info .cpu-select {
    margin-right: 1rem;
    width: 16rem;

}

.info-page .laptop-info .cpu-inline-form {
    margin-right: 1rem;
    width: 16rem;
}

.info-page .laptop-info .cpu-select .select-box-container {
    width: 16rem;
}


.info-page .laptop-info .cpu-info-list li {
    margin-left: 0;
}


.info-page .laptop-info .cpu-info input {
    width: 17rem;
}

.info-page .laptop-info .cpu-info {
    margin-left: 0;
}

.info-page .laptop-info .cpu-features .select-box {
    background-position: 93%;
}

.info-page .laptop-info .ram-memory-info {
    margin-top: 5rem;
}


.info-page .laptop-info .ram-and-memory {
    display: flex;
}

.info-page .laptop-info .input-label-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-page .laptop-info label {
    font: 15px 'Montserrat', sans-serif;
    margin: 0;
    margin-left: 0.5rem;
    margin-right: 3rem;
    margin-top: 0.5rem;
    cursor: pointer;
}

.info-page .laptop-info .input-label-container input {
    margin: 0;
    padding: 0;
}

.info-page .laptop-info .input-label-container input[type=radio] {
    width: 1.2rem;
    box-shadow: none;
    margin-top: 0.5rem;
    margin-right: 0.7rem;
    cursor: pointer;
}

.info-page .laptop-info .purchase-number {
    cursor: pointer;
}


.info-page .laptop-info .laptop-date input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    position: relative;
    right: 5%;
}

.info-page .laptop-info .laptop-price {
    background: url(../icon/lari.png);
    background-size: 1rem;
    background-repeat: no-repeat;
    background-position: 96%;
}

.info-page .laptop-info .laptop-status-form {
    margin-top: 2rem;
}

.info-page .laptop-info .button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4rem;
    margin-left: 4rem;
    width: 93%;
    margin-bottom: 5rem;
}


.info-page .laptop-info .next-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.info-page .laptop-info .next-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #62A1EB;
    border-radius: 8px;
    height: 3.7rem;
    width: 25%;
    cursor: pointer;
}


.info-page .laptop-info .button-container a {
    color: #FFFFFF;
    font-size: 1.1rem;
    text-decoration: none;
}

.info-page .laptop-info .go-back-btn-container p {
    color: #62A1EB;
    font-size: 1.1rem;
    cursor: pointer;
}