@font-face {
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: 500;
    src: url(../font/HelveticaNeue-Medium-11.ttf) format('truetype');
}

@font-face {
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: bold;
    src: url(../font/HelveticaNeue-Bold-02.ttf) format('truetype');
}

@font-face {
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: normal;
    src: url(../font/HelveticaNeue-01.ttf) format('truetype');
}

@font-face {
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: 300;
    src: url(../font/HelveticaNeue-Light-08.ttf) format('truetype');
}

.info-page .laptop-info {
    width: 100%;
    min-height: 100vh;
    display: none;
    justify-content: center;
}

.info-page .laptop-info form {
    width: 70%;
    background-color: #FFFFFF;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
}

.info-page .laptop-info .img-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 93%;
    min-height: 26.5rem;
    border-radius: 1.1rem;
    margin-left: 4rem;
    cursor: pointer;
    background: url(../img/upload-file-borer.png) no-repeat;
    background-size: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}

.info-page .laptop-info .img-border-error {
    width: 100%;
    background: url(../icon/red-border.png) no-repeat !important;
    background-size: 100%;
    background-repeat: no-repeat;
    padding-right: 6%;
}

.info-page .laptop-info .img-form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.info-page .laptop-info .add-img-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-page .laptop-info .add-img-container .choose-img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-page .laptop-info .add-img-container .choose-img p {
    font-family: 'HelveticaNeue';
    font-size: 1.3rem;
    font-weight: 500;
    color: #4386A9;
    margin-bottom: 1rem;
}


.info-page .laptop-info .upload-again-container {
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-top: 1.5rem;
    display: none;
}

.info-page .laptop-info .img-name-size {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    background: url(../icon/image-yes.png);
    background-size: 1rem;
    background-repeat: no-repeat;
    background-size: 1.3rem;
    background-position: 0%;
    margin-left: 7%;
}

.info-page .laptop-info .img-name-size p {
    font-family: 'HelveticaNeue';
    font-weight: normal;
    font-size: 1rem;
    margin-left: 3rem;
    color: #202020;
    width: 50% !important; 
}

.info-page .laptop-info .img-size {
    margin-left: 1rem !important;
    color: #5F5F5F !important;
}

.info-page .laptop-info .upload-again-label-container {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.info-page .laptop-info .label-upload-new-img-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 2rem;
}

.info-page .laptop-info .label-upload-new-img {
    width: 95%;
    height: 95%;
    display: flex;
    background-color: #62A1EB;
    color: #FFFFFF;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'HelveticaNeue';
    font-weight: 500;
    font-size: 1.2rem;
    border-radius: 10px;
}

.info-page .laptop-info .label-upload-new-img:hover {
    background-color: #317AD0 !important;
}

.info-page .laptop-info .label-upload-new-img:focus {
    background-color: #1A5DAB !important;
}

.info-page .laptop-info .label-upload-new-img:active {
    background-color: #1A5DAB !important;
}

.info-page .laptop-info .img-bottom-margin {
    margin-bottom: 4rem;
}


.info-page .laptop-info .img-error-icon-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;

}

.info-page .laptop-info .img-error-icon {
    width: 40%;
    height: 20%;
    background: url(../icon/img-error.png);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 55%;
    display: none;
}

.info-page .laptop-info .file-upload-container {
    margin-top: 4rem;
    display: flex;
    width: 100%;
    height: 14%;
    align-items: center;
    justify-content: center;
}

.info-page .laptop-info .label-container {
    display: flex;
    width: 27%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #62A1EB;
    border-radius: 8px;
    cursor: pointer;
}

.info-page .laptop-info .label-container:hover {
    background-color: #317AD0 !important;

}

.info-page .laptop-info .label-container:focus {
    background-color: #1A5DAB !important;

}

.info-page .laptop-info .label-container:active {
    background-color: #1A5DAB !important;

}

.info-page .laptop-info .label-upload-img {
    width: 100%;
    height: 100%;
    font-family: 'HelveticaNeue';
    font-weight: 500;
    font-size: 1.3rem;
    margin: 0;
    color: #FFFFFF;
    cursor: pointer;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
}


.info-page .laptop-info .img-form-container .upload-img {
    width: 54rem;
    height: 43%;
    position: absolute;
    left: 29%;
    top: 28%;
    background-color: white;
    opacity: 0;
    cursor: pointer;
}

.info-page .laptop-info form ul {
    list-style: none;
}

.info-page .laptop-info .form-control {
    display: flex;
    margin-top: 1rem;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.info-page .laptop-info .form-control li {
    margin-left: 2rem;
    width: 100%;
}

.info-page .laptop-info .inline-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 93%;
}

.laptop-info .laptop-page-label-error {
    font-family: 'HelveticaNeue';
    font-weight: 500;
    color: #000000;
    font-size: 1.1rem;
    cursor: pointer;
}

.info-page .laptop-info .validation-error {
    font-family: 'HelveticaNeue';
    font-weight: 300;
    color: #2E2E2E;
    font-size: 0.89rem;
}


.info-page .laptop-info .inline-form input {
    font-family: 'HelveticaNeue' !important;
    font-weight: normal !important;
    color: #000000 !important;
    font-size: 1rem !important;
    padding-top: 0;
    padding-left: 1rem;
    margin: 10px 0;
    margin-top: 10px;
    border: 2px solid #8AC0E2;
    border-radius: 8px;
    width: 100%;
    height: 3.75rem;
    display: block;
    box-sizing: border-box;
}

.info-page .laptop-info .error {
    border-color: #E52F2F !important;
}


.info-page .laptop-info .form-control .select-box-list {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.info-page .laptop-info .form-control .select-box-container {
    width: 100%;
}

.info-page .laptop-info .form-control .select-box {
    display: flex;
    padding: 0;
    align-items: center;
    height: 3.75rem;
    border-radius: 8px;
    box-sizing: border-box;
    width: 100%;
    background: #EBEBEB url(../icon/arrow.png);
    background-size: 1rem;
    background-repeat: no-repeat;
    background-position: 95%;
    cursor: pointer;
    z-index: 99;
}

.info-page .laptop-info .form-control .select-box:hover {
    background-color: #dfdfdf !important;
}

.info-page .laptop-info .form-control .select-box:focus {
    background-color: #EBEBEB !important;
}

.info-page .laptop-info .form-control .select-box:active {
    background-color: #EBEBEB !important;
}

.info-page .laptop-info .form-control .select-box-laptop-brand {
    margin-top: 5px;
}

.info-page .laptop-info .form-control .select-box-error {
    border: 2px solid #E52F2F !important;
}

.info-page .laptop-info .form-control .select-box p {
    font-family: 'HelveticaNeue';
    font-weight: 500;
    font-size: 1.12rem;
    color: #000000;
    padding-left: 2rem;
}

.info-page .laptop-info .custom-option-container {
    width: 21.3% !important;
    font-family: 'HelveticaNeue';
    background-color: #FFFFFF;
    min-height: 2rem;
    position: absolute;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0px 5px 30px 10px #e2e5e9;
    margin-top: 3.708rem;
    display: none;
}

.info-page .laptop-info .CPU-option-container {
    width: 14.7% !important;
    margin-top: 3.73rem;
}

.info-page .laptop-info .custom-option-container:focus {
    outline: none;
}

.info-page .laptop-info .custom-option-container:hover {
    outline: none;
}

.info-page .laptop-info .custom-option {
    font-family: 'HelveticaNeue';
    font-weight: normal;
    font-size: 1.1rem;
    color: #000000;
    padding: 0.5rem;
    padding-left: 2rem;
    cursor: pointer;
}

.info-page .laptop-info .custom-option:hover {
    background: #E7F0F8;
}

.info-page .laptop-info .laptop-brand-custom-on-blur {
    width: 100%;
    height: 212%;
    position: absolute;
    right: 0%;
    top: 0%;
    background-color: transparent;
    display: none;
}


.info-page .laptop-info .CPU-custom-on-blur {
    width: 100%;
    height: 212%;
    position: absolute;
    right: 0%;
    top: 0%;
    background-color: transparent;
    display: none;
}

.info-page .laptop-info .line {
    background-color: #C7C7C7;
    height: 1px;
    width: 93%;
    margin-left: 4rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.info-page .laptop-info .cpu-features {
    width: 100%;
}

.info-page .laptop-info .cpu-select {
    width: 100%;
    margin-right: 2rem;
}

.info-page .laptop-info .cpu-inline-form {
    width: 100%;
}

.info-page .laptop-info .cpu-select .select-box-container {
    width: 100%;
    height: 3.5rem;
}

.info-page .laptop-info .cpu-info {
    margin-left: 1rem !important;
}

.info-page .laptop-info .cpu-info-list li {
    margin-left: 0;
}

.info-page .laptop-info .cpu-info-list {
    width: 100%;
}

.info-page .laptop-info .cpu-info-list li {
    margin-left: 0;
}

.info-page .laptop-info .cpu-info input {
    width: 100%;
    height: 3.7rem;
}

.info-page .laptop-info .cpu-features .select-box {
    background-position: 93%;
}


.info-page .laptop-info .ram-memory-info {
    margin-top: 5rem;
}


.info-page .laptop-info .ram-and-memory {
    display: flex;
}

.info-page .laptop-info .input-label-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.info-page .laptop-info .error-and-label {
    width: 150%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.info-page .laptop-info .error-and-label p {
    width: 67%;
    cursor: default !important;
    font-family: 'HelveticaNeue';
    font-weight: 500;
    color: #000000;
    font-size: 1.1rem;
}

.info-page .laptop-info .memory-error-icon {
    width: 100%;
    height: 2rem;
    background: url(../icon/memory-error.png);
    background-repeat: no-repeat;
    cursor: pointer;
    margin-top: 0.5rem;
    position: absolute;
    left: 62.3%;
    display: none;
}

.info-page .laptop-info label {
    font-family: 'HelveticaNeue';
    font-size: 1.1rem;
    font-weight: normal;
    margin: 0;
    margin-left: 0.5rem;
    margin-right: 3rem;
    margin-top: 0.5rem;
    cursor: pointer;
}

.info-page .laptop-info .input-label-container input {
    margin: 0;
    padding: 0;
}

.info-page .laptop-info .input-label-container input[type=radio] {
    border-color: #FFFFFF;
    width: 1.5rem;
    box-shadow: none;
    margin-top: 0.5rem;
    margin-right: 0.7rem;
    cursor: pointer;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    appearance: none;
    background: url(../icon/radio-btn.png) center center no-repeat;
    background-color: #FFFFFF !important;
}

.info-page .laptop-info .input-label-container input[type=radio]:hover {
    border: none !important;
    background-color: #FFFFFF !important;
}

.info-page .laptop-info .input-label-container input[type=radio]:active {
    border: none !important;
    background-color: #FFFFFF !important;
}

.info-page .laptop-info .input-label-container input[type=radio]:focus {
    border: none !important;
    background-color: #FFFFFF !important;
}

.info-page .laptop-info .input-label-container .checked {

    background: url(../icon/radio-btn.png) center center no-repeat, url(../icon/checked-radio-button.png) center center no-repeat !important;
}

.info-page .laptop-info .purchase-number {
    cursor: pointer;
}


.info-page .laptop-info .laptop-date input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    position: relative;
    right: 5%;
}

.info-page .laptop-info .empty-error {
    font-size: 14px;
    opacity: 0;
    cursor: default;
}

.info-page .laptop-info .purchase-number-label {
    font-family: 'HelveticaNeue';
    font-weight: 500;
    color: #000000;
    font-size: 1.1rem;
    cursor: pointer;
}

.info-page .laptop-info .laptop-price {
    background: url(../icon/lari.png);
    background-size: 1rem;
    background-repeat: no-repeat;
    background-position: 96%;
}

.info-page .laptop-info .laptop-status-form {
    margin-top: 2rem;
}

.info-page .laptop-info .laptop-status-label {
    width: 38% !important;
    cursor: default !important;
}


.info-page .laptop-info .laptop-status-error-icon {
    width: 100%;
    height: 2rem;
    background: url(../icon/memory-error.png);
    background-repeat: no-repeat;
    cursor: pointer;
    margin-top: 0.5rem;
    left: 41%;
    position: absolute;
    display: none;
}

.info-page .laptop-info .button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4rem;
    margin-left: 4rem;
    width: 93%;
    margin-bottom: 5rem;
}


.info-page .laptop-info .next-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.info-page .laptop-info .next-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #62A1EB;
    border-radius: 8px;
    height: 3.7rem;
    width: 25%;
    cursor: pointer;
}

.info-page .laptop-info .next-btn-container:hover {
    background-color: #317AD0 !important;
}

.info-page .laptop-info .next-btn-container:focus {
    background-color: #1A5DAB !important;
}

.info-page .laptop-info .next-btn-container:active {
    background-color: #1A5DAB !important;
}


.info-page .laptop-info .button-container a {
    font-family: 'HelveticaNeue';
    font-weight: 500;
    color: #FFFFFF;
    font-size: 1.2rem;
    text-decoration: none;
}

.info-page .laptop-info .go-back-btn-container p {
    font-family: 'HelveticaNeue';
    font-weight: 500;
    color: #62A1EB;
    font-size: 1.2rem;
    cursor: pointer;
}

.info-page .laptop-info .go-back-btn-container p:hover {
    color: #317AD0 !important;
}

.info-page .laptop-info .go-back-btn-container p:focus {
    color: #1A5DAB !important;
}

.info-page .laptop-info .go-back-btn-container p:active {
    color: #1A5DAB !important;
}


@media (max-width: 768px) {

    .info-page .back-arrow-container-laptop {
        display: flex;
        justify-content: flex-start;
        padding: 0;
        background: transparent url(../icon/2-2.png);
        background-position: center 90%;
        background-repeat: no-repeat;
        width: 100%;
    }

    .info-page .back-arrow-container-laptop img {
        content: url(../icon/small-arrow-icon.png);
        padding-left: 1.5rem;
    }

    .info-page .laptop-info {
        width: 100%;
    }

    .info-page .laptop-info form {
        width: 100%;
        background-color: #FFFFFF;
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        margin-top: 0;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    .info-page .laptop-info .img-form {
        width: 100%;
    }

    .info-page .laptop-info .img-form-container {
        margin-left: 0;
        background: url(../icon/small-border.png) no-repeat;
        background-size: 100% 100%;
        margin-top: 2rem;
        min-height: 15rem;
        width: 90%;
    }

    .info-page .laptop-info .img-border-error {
        background: url(../icon/red-small-border.png) no-repeat !important;
        background-size: 100% !important;
        background-position: 50% !important;
        background-repeat: no-repeat;
        padding-right: 0 !important;
    }

    .info-page .laptop-info .img-form-container .add-image-icon {
        width: 100%;
        height: 10rem;
        background: url(../icon/photo.png) no-repeat, url(../icon/upload-laptop-image.png) no-repeat;
        background-position: center 10%, center 75% !important;
        background-size: 15%, 40% !important;
    }

    .info-page .laptop-info .img-error-icon {
        width: 40%;
        height: 20%;
        background: url(../icon/img-error.png);
        background-position: center;
        background-size: 15%;
        background-repeat: no-repeat;
        position: absolute;
        bottom: 52%;
        left: 30.5%;
        display: none;
    }

    .info-page .laptop-info .upload-again-container {
        margin-top: 2rem;
        width: 90%;
    }

    .info-page .laptop-info .img-name-size {
        flex-direction: column;
        justify-content: start;
        align-items: start;
        margin-left: 0;
        background-size: 1.5rem !important;
        background-position: 0% !important;
    }

    .info-page .laptop-info .img-name {
        margin-left: 2.5rem !important;
        margin-top: 0.5rem;
    }

    .info-page .laptop-info .img-size {
        margin-left: 2.5rem !important;
        margin-top: 0.5rem;
    }

    .info-page .laptop-info .upload-again-label-container {
        justify-content: flex-end;
        align-items: end;
    }

    .info-page .laptop-info .label-upload-new-img-container {
        width: 100%;
    }

    .info-page .laptop-info .label-upload-new-img {
        margin: 0;
        height: 60%;
        font-size: 14px;
    }


    .info-page .laptop-info .img-form-container .add-img-container {
        width: 0;
    }


    .info-page .laptop-info .img-form-container .upload-img {
        width: 92%;
        height: 29%;
        position: absolute;
        left: 4%;
        top: 14%;
    }

    .info-page .laptop-info .file-upload-container .label-container {
        display: none;
    }

    .info-page .laptop-info .add-img-container .choose-img p {
        display: none;
    }

    .info-page .laptop-info .form-control {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }

    .info-page .laptop-info .form-control li {
        margin-left: 0;
    }

    .info-page .laptop-info .inline-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 90%;
        margin-right: 0;
        margin-bottom: 2rem;
    }

    .info-page .laptop-info .laptop-name-container-center-for-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .info-page .laptop-info form .line {
        width: 100%;
        height: 8px;
        margin: 0;
        margin-top: 0.5rem;
        margin-bottom: 1.5rem;
        background: #ebebeb75;
    }

    .info-page .laptop-info .select-box-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 90%;
    }

    .info-page .laptop-info .custom-option-container {
        width: 90% !important;
        margin-top: 4.1rem !important;
    }

    .info-page .laptop-info .CPU-option-container {
        margin-top: 3.84rem !important;
    }

    .info-page .laptop-info .cpu-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 90%;
    }

    .info-page .laptop-info .ram-memory-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        margin-top: 0;
    }

    .info-page .laptop-info .ram-memory-info .ram-and-memory-info-list-for-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .info-page .laptop-info .date-and-price-list-for-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .info-page .laptop-info .laptop-state-list-for-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .info-page .laptop-info .cpu-features .cpu-select {
        margin-right: 0;
    }

    .info-page .laptop-info .cpu-info {
        margin-left: 0 !important;
    }

    .info-page .laptop-info .ram-and-memory {
        margin-left: 0 !important;
        display: flex;
        justify-content: flex-start;
        align-items: start;
    }

    .info-page .laptop-info .memory-error-icon {
        width: 20%;
        left: 50%;
    }

    .info-page .laptop-info .input-label-container {
        justify-content: flex-start;
    }

    .info-page .laptop-info .memory-type-list-for-mobile {
        justify-content: flex-start;
        align-items: start;
    }

    .info-page .laptop-info .error-and-label p {
        width: 100% !important;
    }

    .info-page .laptop-info .input-label-container input[type=radio] {
        width: 2rem !important;
        background: url(../icon/radio-btn.png)no-repeat;
        background-position: 0%;
        background-color: #FFFFFF !important;
        margin: 0;
        border: none !important;
    }

    .info-page .laptop-info .input-label-container label {
        margin: 0;
        margin-right: 4rem;
    }

    .info-page .laptop-info .input-label-container .checked {

        background: url(../icon/radio-btn.png) 0% no-repeat, url(../icon/checked-radio-button.png) 20% no-repeat !important;
    }

    .info-page .laptop-info form .laptop-date {
        margin-bottom: 0rem;
    }

    .info-page .laptop-info form .laptop-status-form {
        margin-top: 0rem;
    }

    .info-page .laptop-info .laptop-status-error-icon {
        width: 20%;
        left: 65%;
    }


    .info-page .laptop-info form .button-container {
        width: 90%;
        margin: 0;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .info-page .laptop-info form .button-container .submit-container {
        width: 50%;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .info-page .laptop-info form .button-container a {
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .info-page .laptop-info .inline-form input {
        width: 100% !important;
    }


}