@font-face {
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: 500;
    src: url(../font/HelveticaNeue-Medium-11.ttf) format('truetype');
}

@font-face {
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: bold;
    src: url(../font/HelveticaNeue-Bold-02.ttf) format('truetype');
}

@font-face {
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: normal;
    src: url(../font/HelveticaNeue-01.ttf) format('truetype');
}

@font-face {
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: 300;
    src: url(../font/HelveticaNeue-Light-08.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
    background-color: #4A4A4A;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    width: 50%;
    min-height: 60vh;
    background-color: white;
    border-radius: 8px;
}

main ul {
    width: 100%;
    height: 60vh;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .text-container P {
    font-family: 'HelveticaNeue';
    font-weight: bold;
    color: #292929;
    font-size: 1.8rem;
    font-weight: 700;
}

main .see-list-container {
    margin-top: 5rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 10%;
    background-color: #62A1EB;
    border-radius: 8px;
    cursor: pointer;
}

main .see-list-container:hover {
    background-color: #317AD0;
}

main .see-list-container:focus {
    background-color: #1A5DAB;
}

main .see-list-container:active {
    background-color: #1A5DAB;
}

main .see-list-container a {
    font-family: 'HelveticaNeue';
    font-weight: 500;
    color: #FFFFFF;
    font-size: 1.3rem;
    cursor: pointer;
    text-decoration: none;
}

main .see-main-page-container a {
    font-family: 'HelveticaNeue';
    font-weight: 500;
    color: #0089A7;
    font-size: 1.3rem;
    cursor: pointer;
    text-decoration: none;
}

main .see-main-page-container a:hover {
    color: #317AD0;
}

main .see-main-page-container a:focus {
    color: #1A5DAB;
}

main .see-main-page-container a:active {
    color: #1A5DAB;
}